# ------------------------------------------------------------------------------

# Git

# ------------------------------------------------------------------------------

.git
.gitignore
.github

# ------------------------------------------------------------------------------

# Python

# ------------------------------------------------------------------------------

**pycache**/
_.py[cod]
_.pyo
\*.pyd

# ------------------------------------------------------------------------------

# Virtual Environments

# ------------------------------------------------------------------------------

env/
venv/
.venv/

# ------------------------------------------------------------------------------

# IDE

# ------------------------------------------------------------------------------

.vscode/
.idea/

# ------------------------------------------------------------------------------

# Environment Variables

# ------------------------------------------------------------------------------

.env

# ------------------------------------------------------------------------------

# Local Database

# ------------------------------------------------------------------------------

db.sqlite3

# ------------------------------------------------------------------------------

# Static Files

# ------------------------------------------------------------------------------

staticfiles/

# ------------------------------------------------------------------------------

# Media

# ------------------------------------------------------------------------------

media/

# ------------------------------------------------------------------------------

# Logs

# ------------------------------------------------------------------------------

\*.log

# ------------------------------------------------------------------------------

# Operating System

# ------------------------------------------------------------------------------

.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------

# Misc

# ------------------------------------------------------------------------------

README.md
